<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Organization</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1>Edit Organization</h1>
        <form action="/organizations/<%= organization._id %>?_method=PUT" method="POST">

            <label for="slogan">Slogan:</label>
            <input
                type="text"
                name="slogan"
                id="slogan"
                value="<%= organization.slogan %>"
            />

            <label for="orgName">Organization Name:</label>
            <input type="text" name="orgName" id="orgName" value="<%= organization.orgName %>" />

            <label for="cause">Cause:</label>
            <select name="cause" id="cause" required>
                <option 
                    value="A"
                    <%=organization.cause === "A" ? "selected" : "" %>
                >
                    A
                </option>
				<option 
                    value="B"
                    <%=organization.cause === "B" ? "selected" : "" %>
                >
                    B
                </option>
				<option 
                    value="C"
                    <%=organization.cause === "C" ? "selected" : "" %>
                >
                    C
                </option>
				<option 
                    value="D"
                    <%=organization.cause === "D" ? "selected" : "" %>
                >
                    D
                </option>
            </select>    

            <label for="story">Our Story:</label>
            <textarea name="story" id="story"><%= organization.story %></textarea>

            <label for="headquarters"> Headquarters:</label>
            <input type="headquarters" name="headquarters" id="headquarters" value="<%=organization.headquarters%>" />

            <label for="contactInfo">Contact Information:</label>
            <input type="contactInfo" name="contactInfo" id="contactInfo" value="<%=organization.contactInfo%>" />

            <button type="submit">Update</button>
        </form>
    </body>
</html>