<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= organization.organization %>'s profile</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <h1><%= organization.organization %></h1>

        <h2>Details</h2>
        <h3><%= organization.slogan %></h3>
        <p>Cause: $<%= organization.cause %></p>
        <p>Our Story: <%= organization.story %></p>
        <p>Headquarters: <%= organization.headquarters %></p>
        <p>Contact Information: <%= organization.contactInfo %></p>

        <a href="/organizations/<%= organization._id %>/edit">Edit Profile</a>
        <form
            action="/organizations/<%= organization._id %>?_method=DELETE"
            method="POST"
        >
            <button type="submit">Delete Profile</button>
        </form>

    </body>
</html>