<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title><%= organization.orgName %>'s Profile</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <div class="show-container">
            <h1><%= organization.orgName %></h1>

            <h3><%= organization.slogan %></h3>

            <p><span class="title">Our Story</span>: <span class="value"><%= organization.story %></span></p>
            <p><span class="title">Cause</span>: <span class="value"><%= organization.cause %></span></p>
            <p><span class="title">Headquarters Address</span>: <span class="value"><%= organization.headquarters %></span></p>
            <p><span class="title">Email Address</span>: <span class="value"><%= organization.email %></span></p>
            <p><span class="title">Phone Number</span>: <span class="value"><%= organization.phone %></span></p>
       
            <div class="profile-actions">
                <a href="/organizations/<%= organization._id %>/edit" class="action-button">Edit</a>
                <form action="/organizations/<%= organization._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="action-button">Delete</button>
                </form>
            </div>

            <br />
            <br />
            <h2>Listings</h2>
            <p>
                You own <%= myListings.length %> <%= myListings.length === 1 ?
                'listing.' : 'listings.' %>
            </p>
            <ul>
                <% myListings.forEach((listing) => { %>
                    <li>
                        <strong>Event:</strong> <%= listing.event %><br />
                        <a href="/listings/<%= listing._id %>" class="action-button"> + Details</a>
                    </li>
                <% }) %>
            </ul>

            <a href="/listings/new/<%= organization._id %>" class="action-button"> Add Listing</a>
        </div>
    </body>
</html>