<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>Matching Dashboard</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <div class="dashboard">
            <h1>Discover Your Matches 🎯</h1>

            <h2>Listings Matching You</h2>
            <% if (volunteer && matchingListings && matchingListings.length > 0) { %>
                <% matchingListings.forEach(listing => { %>
                    <p><%= listing.event %> from <%= listing.owner.orgName %><a href="/listings/<%= listing._id %>"> + Details</a></p>
                <% }) %>
            <% } else if (volunteer) { %>
                <p>No matching listings found.</p>
            <% } else if (!volunteer) { %>
                <p>Create a profile as a volunteer first.</p>
                <a href="/volunteer/new" class="action-button">Click Here</a>
            <% } %>

            <h2>Volunteers Matching Your Listings</h2>
            <% if (orgMatches && orgMatches.length > 0) { %>
                <% orgMatches.forEach(match => { %>
                    <h3><%= match.listing.event %> in <%= match.listing.city %></h3>
                    <% if (match.volunteers.length > 0) { %>
                        <% match.volunteers.forEach(vol => { %>
                            <p><strong>Volunteer:</strong> <%= vol.firstName %> <%= vol.lastName %> | <strong>Phone Number:</strong> <%= vol.phone %> | <strong>Email:</strong> <%= vol.email %></p>
                        <% }) %>
                    <% } else { %>
                        <p>No matching volunteers for this listing.</p>
                    <% } %>
                <% }) %> 
            <% } else if (organizations.length > 0){ %>
                <p>No matching volunteers found for your organization(s) listings.</p>
            <% } else if (organizations.length === 0){ %>
                <p>Add an organization first.</p>
                <a href="/organizations/new" class="action-button">Click Here</a>
            <% } %>
        </div>
    </body>
</html>


