<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Profile</title>
    </head>

    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1>My Volunteer Profile</h1>
        <h3><%= volunteer.title %></h3>
        <p>Name: <%= volunteer.firstName %> <%= volunteer.lastName %></p>
        <p>Cause: <%= volunteer.cause %></p>
        <p>Skills: <%= volunteer.skills %></p>
        <p>Volunteering Model: <%= volunteer.model %></p>
        <p>Cause: <%= volunteer.cause %></p>
        <p>Availability: <%= volunteer.availability %></p>
        <p>Location: <%= volunteer.location %></p>
        <p>Contact Information: <%= volunteer.contactInfo %></p>
        <p>Bio: <%= volunteer.bio %></p>
        <p>Additional Comments: <%= volunteer.comments %></p>

        <h3>My Favorites</h2>
        <p>You have favorited <%=myFavoriteListings.length%> listings</p>
        <ul>
            <% myFavoriteListings.forEach((listing) => { %>
            <li>
                A listing for the <%= listing.event %> owned by <%=
                listing.owner.orgName %>.
                <a href="/listings/<%= listing._id %>">View more details.</a>
            </li>
            <% }) %>
        </ul>

        <a href="/volunteer/edit">Edit Profile</a>
        <form
            action="/volunteer/?_method=DELETE"
            method="POST"
        >
            <button type="submit">Delete Profile</button>
        </form>

    </body>

</html>