<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>My Profile</title>
    </head>

    <body>
         <%- include('../partials/_navbar.ejs') %>
        <div class="show-container">
            <h1>My Volunteer Profile</h1>
            <h3><%= volunteer.title %></h3>

            <p><span class="title">Name:</span> <span class="value"><%= volunteer.firstName %> <%= volunteer.lastName %></span></p>
            <p><span class="title">Bio:</span> <span class="value"><%= volunteer.bio %></span></p>
            <p><span class="title">Cause:</span> <span class="value"><%= volunteer.cause %></span></p>
            <p><span class="title">Skills:</span> <span class="value"><%= volunteer.skills %></span></p>
            <p><span class="title">Volunteering Model:</span> <span class="value"><%= volunteer.modelVol %></span></p>
            <p><span class="title">Availability:</span> <span class="value"><%= volunteer.availability %></span></p>
            <p><span class="title">Location:</span> <span class="value"><%= volunteer.city %>, <%= volunteer.state %></span></p>
            <p><span class="title">Email Address:</span> <span class="value"><%= volunteer.email %></span></p>
            <p><span class="title">Phone Number:</span> <span class="value"><%= volunteer.phone %></span></p>
            <p><span class="title">Additional Comments:</span> <span class="value"><%= volunteer.comments %></span></p>

            <h2>Likes</h2>
            <p>You liked <%=myFavoriteListings.length%> listings</p>
            <ul>
                <% myFavoriteListings.forEach((listing) => { %>
                    <li>
                        <%= listing.event %> event owned by <%=listing.owner.orgName %>.
                        <a href="/listings/<%= listing._id %>" class="view-details">View more details.</a>
                    </li>
                <% }) %>
            </ul>

            <div class="profile-actions">
                <a href="/volunteer/edit" class="action-button">Edit</a>
                <form action="/volunteer/?_method=DELETE" method="POST">
                    <button type="submit" class="action-button">Delete</button>
                </form>
            </div>
        </div>
    </body>
</html>